html {
    font-family: "Open Sans";
    font-size: 14px;
}

body {
    background-color: #f3f3f3;
}

a, a:hover {
    text-decoration: none;
}

header {
    width: 100vw;
    min-height: 80px;
    background-color: #76c7c0;
    display: flex;
    align-items: center;
}

.logo p {
    font-size: 1.4em;
    color: white;
}

.logo span {
    font-family: "Open Sans";
    font-weight: 900;
    text-transform: uppercase;
    font-size: 2.2rem;
}

.nav {
    justify-content: space-between;
}

.nav-link {
    color: white;
    text-transform: uppercase;
}

.nav a {
    color: white;
}

.nav-pills .nav-link.active {
    background-color: #62a29e;
    box-shadow: 0px 2px 0px 0px rgba(82,139,134,1);
}

.nav-link>img {
    width: 1em;
    filter: invert(1);
}

.nav-pills .show>.nav-link {
    background-color: #e5655d;
    box-shadow: 0px 3px 0px 0px #e2534b;
}

.dropdown-menu.show {
    background-color: #e2534b;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: .4em;
    padding: .1rem 0;
    margin-top: .5rem;
}

.dropdown-menu > .dropdown-item {
    background-color: #e5655d;
    width: 95%;
    margin: .2em;
    border-radius: .2em;
}

.dropdown-menu > .dropdown-item:hover {
    background-color: #76c7c0;
}

.first-slider{
    width: 100%;
    max-height: 555px;
    box-sizing: border-box;
    position: relative;
}

.first-slider {
    background-color: #7f8c8c;
}

.first-slider-text {
    text-align: center;
}

.first-slider-text>h3 {
    display: inline;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #e5655d;
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: .5rem;
}

.first-slider-text>p {
    background-color: #3f4646;
    font-size: 1.15rem;
    color: white;
    width: 80%;
    padding: 2rem;
    margin: auto;
    margin-top: 4%;
    border-radius: .5rem;
    line-height: 2rem;
}

.carousel {
    position: relative;
    max-height: 555px;
}

.carousel-inner {
    max-height: 555px;
    overflow: hidden;
}

.carousel-indicators {
    bottom: -7%;
}

.carousel-indicators li {
    background-color: #b0b8b9;
    opacity: 1;
    width: 5rem;
    height: 0.3rem;
}

.carousel-indicators .active {
    background-color: red;
}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
    opacity: 1;
}

.carousel-control-next,
.carousel-control-prev {
    width: 4rem;
    opacity: 1;
    transition: none;
}

.carousel-control-next-icon {
    width: 4rem;
    height: 5rem;
    background: url('img/s-r.png') center no-repeat;
    background-color: #e8645a;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.carousel-control-prev-icon {
    width: 4rem;
    height: 5rem;
    background: url('img/s-l.png') center no-repeat;
    background-color: #e8645a;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.carousel-control-next:hover
.carousel-control-next-icon,
.carousel-control-prev:hover
.carousel-control-prev-icon {
    background-color: #e2534b;
}

.advantages-container {
    min-height: 41rem;
}

.some-services .row  {
    margin: auto;
    min-height: 100px;
    background-color: #ececec;
    display: flex;
    align-items: center;
}

.some-services h3 {
    font-weight: 600;
    color: #7f8c8c;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.some-services  {
    color: #7f8c8c;
    font-size: .8rem;
    margin-top: 4rem;
}

.some-services button {
    width: 14.3rem;
    height: 4rem;
    background-color: #e8645a;
    border-color: #e8645a;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.some-services button:hover {
    background-color: #e2534b;
    border-color: #e2534b;
}

.some-services .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #e2534b;
    border-color: #e2534b;
}

.box-advantages {
    height: 22.1rem;
    background-color: #f8f8f8;
}

.advantages {
    margin-top: 4rem;
}

.box-advantages .card {
    height: 100%;
    background-color: #f8f8f8;
    border: none;
    box-shadow: 0px .5rem 0px 0px rgba(229,230,230,1);
}

.box-advantages .card:hover {
    background-color: white;
}

.box-advantages .img-like {
    width: 4.1rem;
    height: 4rem;
    background: url('img/like.png') center no-repeat;
}
.box-advantages .img-key {
    width: 4.1rem;
    height: 4rem;
    background: url('img/key.png') center no-repeat;
}
.box-advantages .img-flag {
    width: 4.1rem;
    height: 4rem;
    background: url('img/flag.png') center no-repeat;
}
.box-advantages .img-botel {
    width: 4.1rem;
    height: 4.1rem;
    background: url('img/botl.png') center no-repeat;
}

.box-advantages .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.box-advantages .card-title {
    color: #7f8c8c;
    font-size: 1.2rem;
    font-weight: 700;
}

.box-advantages .card-text {
    color: 777777;
    text-align: center;
    line-height: 1.5rem;
}

.box-advantages .btn {
    position: absolute;
    bottom: -1.8rem;
    width: 80%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.box-advantages .card:hover .btn {
    background-color: #e2534b;
    border: #e2534b;
}

.box-advantages .card:hover .img-like {
    background: url('img/like-hover.png') center no-repeat;
}

.box-advantages .card:hover .img-key {
    background: url('img/key-hover.png') center no-repeat;
}

.box-advantages .card:hover .img-flag {
    background: url('img/flag-hover.png') center no-repeat;
}

.box-advantages .card:hover .img-botel {
    background: url('img/botl-hover.png') center no-repeat;
}

.second-box-slider {
    height: 400px;
    background-color: #ececec;

}

.second-box-slider h2 {
    font-size: 3rem;
    color: #e2534b;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.second-box-slider p {
    font-size: .9rem;
    color: #777777;
    text-align: center;
}

.second-slider-windows {
    position: relative;
    bottom: -27%;
}
.second-box-window {
    height: 18.6rem;
    background-color: #b0b8b9;
    border-radius: .5rem;
    box-sizing: border-box;
    padding: .3rem;
}

.second-box-window-button {
    position: relative;
    display: flex;
    align-items: center;
    height: 15%;
}

.dots {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.group-dots {
    display: flex;
}

.group-dots div {
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    background-color: #ececec;
    margin: 0px .3rem 0 .3rem;
}

.slash-dot {
    width: .8rem;
    height: .4rem;
    background-color: #ececec;
    border-radius: 25%;
    margin-right: 1rem;
}

.second-box-window-img {
    display: flex;
    align-items:center;
    justify-content: center;
    height: 85%;
    background-color: #62b9b0;
    border-radius: .5rem;
}

.second-box-window-img p{
    color: white;
    font-size: 2rem;
}

.active-hover {
    position: absolute;
    width: 500px;
    height: 380px;
    right: -4.5rem;
    top: -4rem;
    z-index: 10;
}

.active-hover .second-box-window-img  {
    background-color: #7f8c8c;
}

.description {
    margin-top: 15.4em;
    background-color: #f3f3f3;
}

.description-text-left h4,
.description-text-right h4 {
    font-size: 1.1rem;
    font-weight: 900;
    color: #7f8c8c;
    margin-bottom: 1rem;
}

.description-text-left p {
    color: 777777;
    font-size: .9rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.description-text {
    display: flex;
}

.description-text div {
    margin-right: 1rem;
    width: .9rem;
    height: .9rem;
    background: url('img/arrow.png') center no-repeat;
}

.diagrams p {
    color: 777777;
    font-size: .9rem;
    font-weight: 500;
    margin-bottom: 1rem;
    line-height: 2rem;
}

.diagrams p a {
    color: #e2534b;
    text-decoration: underline;
}

.progress-bar__custom {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.progress-bar__custom p {
    color: #7f8c8c;
    font-weight: 900;
}

.progress-bar-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress-bar-img {
    margin-bottom: 1rem;
}

.progress-bar-number {
    position: absolute;
    font-size: 2.2rem;
    left: 36%;
    top: 35%;
    right: 0;
    bottom: 0;
    
}

.progress-bar-number__custom{
    left: 27%;
}

.progress-bar-title {
    font-size: 1.2rem
}

.description-text-quote p {

}

.description-text-quote__inner p {
    background-color: white;
    border-radius: .2rem;
    padding: 0px .5rem 0 .5rem;
    font-style: italic;
    font-size: .9rem;
    color: 777777;
    font-size: .9rem;
    line-height: 2rem;
}

.description-text-quote__inner {
    position: relative;
}

.description-text-quote__inner p::before {
    content: '';
    position: absolute;
    background: url('img/triangle.svg');
    width: 2rem;
    height: 2rem;
    /* left: 17%;
    bottom: -25%; */
    bottom: 0;
    transform: translate(50%, 100%);
}

.description-text-quote__name {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
    color: #7f8c8c;
    margin-top: .5rem;
}

.our-clients-wrapper {
    margin-top: 3rem;
}

.our-client-slider__title p {
    font-size: 1.1rem;
    font-weight: 900;
    color: #7f8c8c;
}

.our-client-slider__value-line,
.our-client-slider__title {
    height: 100%;
    display: flex;
    align-items: center;
}

.our-client-line {
    position: relative;
    width: 100%;
    height: .2rem;
    background-color: #e1e2e2;
}

.our-client-line::before {
    content: '';
    position: absolute;
    width: .5rem;
    height: .5rem;
    background: url('img/circle.svg') center no-repeat;
    border-radius: 50%;
    top: -50%;
}

.our-client-slider__buttons {
    display: flex;
    justify-content: space-between;
}

.slider__button-left,
.slider__button-right {
    width: 1.9rem;
    height: 1.9rem;
    background-color: #98a3a3;
}

.our-client-slider__buttons .btn-secondary:hover,
.our-client-slider__buttons .btn-secondary:active,
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:focus {
    background-color: red;
    border-color: red;
}

.out-client-logo__img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
    height: 5rem;
    margin-top: 5rem;
}

.footer__info {
    margin-top: 4rem;
    padding-top: 4rem;
    padding-bottom: 3rem;
    background-color: #76c7c0;
}

.logo-box .logo {
    margin-bottom: 2rem;
}

.logo-box p {
    color: white;
    line-height: 1.5rem;
    font-size: .8rem;
    margin-bottom: 2rem;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
}

.footer-contacts a {
    color: white;
    font-size: .8rem;
}

.footer-contacts a span {
    font-style: italic;
    font-weight: 600;
    font-size: 1.4rem;
    padding-left: 2rem;
}

.footer-contacts a:first-child {
    margin-bottom: 1rem;
}

.footer-info-company p {
    font-size: 1.4rem;
    font-weight: 600;
    color: #4b7e79;
    margin-bottom: 1.5rem;
}

.footer-info-company li,
.footer-info-company a {
    color: white;
    font-size: .8rem;
    margin-bottom: 1rem;
}

.footer-info-blog {
    margin-bottom: 1rem;
}

.footer-info-blog p {
    font-style: italic;
    font-weight: 400;
    font-size: 1.4rem;
    color: white;
}

.footer-info-blog p span {
    text-transform: uppercase;
    font-weight: 600;
    font-style: normal;
}

.footer-info-blog-article__first,
.footer-info-blog-article__second{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.footer-info-blog-article__first {
    margin-bottom: 1rem;
}

.footer-info-blog__img {
    width: 4.5rem;
    height: 4rem;
    background: url('img/blog.png') center no-repeat;
    background-size: 50%;
    background-color: #5e9f9a;
    border-radius: 10%;
}

.footer-info-blog__text {
    padding-left: 1rem;
    
}

.footer-info-blog__text p {
    color: white;
    margin-bottom: .5rem;
}

.footer-info-blog__text span {
    color: #4b7e79;
}

.footer__links {
    background-color: #6ab3ac;
    padding: 1rem 0 1rem 0;
}

.footer-links__copyright p {
    color: white;
}

.footer-links__social {
    display: flex;
    align-items: center;
    justify-content: space-between;
}